<h1>
  <%= @post.title %> <br>
  <small>
    submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
  </small>
</h1>

<%= render 'posts/post', comment: Comment.new, post: @post %>